.two-col-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3.5rem;
}

@media (min-width: 769px) {
    .two-col-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;
    }
}

@media (min-width: 1025px) {
    .two-col-container {
        grid-gap: 5rem;
    }
}

@media (min-width: 1201px) {
    .two-col-container {
        grid-gap: 7rem;
    }
}